{% extends 'base.html' %}
{% load static %}
{% load sim_filters %}
{% block title_bl %}Block detail{% endblock %}

{% block body_bl %}
    <div class="container">
        <h1>Block detail</h1>
        <div style="padding:3%; border: 1px solid black;">
            <dl class="row">
                <dt class="col-sm-3">Previous hash</dt>
                <dd class="col-sm-9">{{ prev_hash }}</dd>
    
                <dt class="col-sm-3">Transaction hash</dt>
                <dd class="col-sm-9"><code>{{ transaction_hash }}</code></dd>
    
                <dt class="col-sm-3">Block hash</dt>
                <dd class="col-sm-9"><code>{{ block_hash }}</code></dd>
    
                <dt class="col-sm-3">Nonce</dt>
                <dd class="col-sm-9">{{ nonce }}</dd>
    
                <dt class="col-sm-3">Timestamp</dt>
                <dd class="col-sm-9">{{ timestamp }} ({{ timestamp|unix_to_date|date:"Y-m-d H:i:s" }})</dd>
            </dl>
            <a class="btn btn-primary btn-small" href="{% url 'welcome:home' %}" role="button">Back to homepage</a>
        </div>
    </div>
{% endblock %}